<div class="close" (click)="switch()"></div>
<div style="margin-top: 80px; margin-bottom: 20px;">
  <h3 style="font-weight: lighter; color: #aaa; font-size: 14px;">Parameter</h3>
</div>

<form (ngSubmit)="submit($event)" [formGroup]="form">
  <div> Region: <input formControlName="region" autocomplete="off"/> </div>
  <div> Population: <input formControlName="population" autocomplete="off"/> </div>
  <div> Infizierte: <input formControlName="infected" autocomplete="off"/> </div>
  <div> Todesfälle: <input formControlName="dead" autocomplete="off"/> </div>
  <div> Verfügbare Betten: <input formControlName="bedsAvailable" autocomplete="off"/> </div>
  <div> Betten belegt: <input formControlName="bedsUsed" autocomplete="off"/> </div>
  <div> Covid Patienten: <input formControlName="bedsCovid" autocomplete="off"/> </div>
  <div>
    <button type="submit">starte simulation</button>
  </div>
</form>
