:host {
  position: absolute;
  right: 0;
  width: 200px;
  background-color: #444;
  top: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: -5px -5px 15px 1px rgba(0,0,0,0.1);
  z-index: 9;
  transition: all 1s;
  transition-delay: 0s;
}

:host.out {
  right: -400px;
  transition-delay: .2s;
}
