<div class="logo">
  +<br/>
  <span>Situation in den Krankenhäusern</span>
</div>
<div class="chart">
  <div class="chart-numbers">
    <div class="numbers">80 % <span>Gesamtauslastung</span></div>
    <div class="numbers">15,65 % <span>Covid Patienten</span></div>
  </div>
  <div class="chart-numbers" style="margin-top: 100px; margin-bottom: 50px;">
    <div  style="position:relative; text-align: center;">
      <img src="assets/img/covid.png" width="90%"/>
      <div class="chart-inner">259
        <span>verfügbare Betten</span></div>
    </div>
  </div>

</div>
<div class="capacity">
  <div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div>
  <div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div>
  <div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div>
  <div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div>
  <div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div>
  <div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div>
  <div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div>
  <div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div><div class="bed used"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div><div class="bed covid"></div>
  <div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div>
  <div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div>
  <div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div>
  <div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div>
  <div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div>
  <div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div><div class="bed"></div>
</div>
